pkgbase = coolerdash
	pkgdesc = CoolerDash a Wrapper for LCD Device Image Control in CoolerControl. To take full control of your AIO liquid cooling system with integrated LCD display to monitor real-time sensor data in style.
	pkgver = 0.2025.07.18.2350
	pkgrel = 1
	url = https://github.com/damachine/coolerdash
	install = coolerdash.install
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	makedepends = pkg-config
	depends = ttf-roboto
	depends = cairo
	depends = libcurl-gnutls
	depends = coolercontrol
	optdepends = nvidia-utils: for GPU temperature monitoring
	optdepends = lm_sensors: for additional hardware monitoring
	backup = opt/coolerdash/README.md
	source = coolerdash-0.2025.07.18.2350.tar.gz::https://github.com/damachine/coolerdash/releases/download/v0.2025.07.18.2350/coolerdash-0.2025.07.18.2350.tar.gz
	sha256sums = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5

pkgname = coolerdash
