[1m             .--.  (B[m
[1m            |o_o | (B[m
[1m            |:_/ | (B[m
[1m           //   \ \ (B[m
[1m          (|     | ) (B[m
[1m         /'\_   _/'\ (B[m
[1m          \___)=(___/ (B[m
[1m     (B[m
pkgbase = coolerdash
	pkgdesc = CoolerDash a Wrapper for LCD Device Image Control in CoolerControl. To take full control of your liquid cooling system with integrated LCD display to monitor real-time sensor data in style.
	pkgver = 0.25.07.20.2
	pkgrel = 1
	url = https://github.com/damachine/coolerdash
	install = coolerdash.install
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	makedepends = pkg-config
	makedepends = ttf-roboto
	depends = cairo
	depends = libcurl-gnutls
	depends = coolercontrol
	optdepends = nvidia-utils: for GPU temperature monitoring
	optdepends = lm_sensors: for additional hardware monitoring
	backup = opt/coolerdash/README.md

pkgname = coolerdash
