# CoolerDash systemd service unit
#
# Purpose: Runs the CoolerDash daemon for LCD temperature monitoring and control.
# Starts after network.target, coolercontrol-liqctld.service and coolercontrold.service are available.
#
# For details, see README and man:coolerdash(1)

[Unit]
Description=CoolerDash daemon
Documentation=man:coolerdash(1)
After=network.target coolercontrol-liqctld.service coolercontrold.service
Requires=coolercontrol-liqctld.service
Requires=coolercontrold.service

[Service]
Type=simple
ExecStart=/bin/coolerdash
Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
